require("coffee-script");

var express = require("express");
var app = express();
app.use(express.logger());

app.get('/', function(request, response) {
  response.send('Firebase Urban Airship Server');
});

var port = process.env.PORT || 9001;
app.listen(port, function() {
  console.log("Listening on " + port);
});

var options = {
  baseRef: "messages/push"
};
var firebasePusher = require("./lib/firebase-pusher")(options);
firebasePusher();
